@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.recipe {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #EEE;

  .recipe-content {
    width: 80%;
    min-width: 35em;
    height: 100%;
    background-color: #f5f2f2;

    .recipe-title {
      padding: 1em;
      font-size: 3em;
      font-family: 'Roboto Slab', serif;
    }

    .recipe-description {
      padding: 0.5em 2em;
    }

    .recipe-steps-container {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
