@import '~assets/scss/colors';

.header {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    background: $colors-purple;
    padding: 10px 30px;

    .header-user-circle {
        display:inline-block;
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}