@import '~assets/scss/colors';

.simplebutton {
    display: flex;
    color: $colors-green;
    height: auto;
    border: 2px solid $colors-green;
    text-decoration: none;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
    background: white;

    width: auto;
    font-size: 18px;
    font-weight: 550;
    justify-content: center;
    align-content: center;
    text-align: center;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
        cursor: pointer;
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    }

    &:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }

    &:focus {
        outline: 0;
    }

    &:after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
}
